@import 'variables';

$smallFontSize: 12px;

.user-selection {
  width: 100%;
  margin: 20px auto 0 auto;
}

.rate-form-field {
  width: calc(100% - 40px);
}

.currency-form-field {
  width: 40px;
}

.full-width-form-field {
  width: 100%;
}


.time-form-field {
  width: 50%;
}

.section-description {
  text-align: left;
  font-size: $smallFontSize;
  color: $primaryColor;
  font-weight:bolder;
}

.week-days {
  text-align: left;
  font-size: $smallFontSize;
  display: flex;
  justify-content: space-between;

  .empty-block {
    width: 34px;
  }
}
