<div class="user-selection">

  <mat-form-field *ngIf="showName()" class="full-width-form-field">
    <input type="text" maxlength="10" matInput placeholder="{{getNamePlaceholder()}}" [(ngModel)]="userSelection.name">
  </mat-form-field>

  <mat-form-field class="rate-form-field">
    <input type="number" inputmode="decimal" min="1" matInput placeholder="{{getRatePlaceholder()}}" [(ngModel)]="userSelection.rate">
  </mat-form-field>

  <mat-form-field class="currency-form-field">
    <mat-select [(ngModel)]="userSelection.currencySymbol">
      <mat-option *ngFor="let symbol of getAllCurrencySymbols()" [value]="symbol">
        {{symbol}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field class="full-width-form-field">
    <mat-select [(ngModel)]="userSelection.frequency">
      <mat-option *ngFor="let frequency of getAllFrequencies()" [value]="frequency">
        {{frequency.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p class="section-description">{{getWorkingWeekText()}}</p>

  <section class="week-days">
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[1]">Mon</mat-checkbox>
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[2]">Tue</mat-checkbox>
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[3]">Wed</mat-checkbox>
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[4]">Thu</mat-checkbox>
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[5]">Fri</mat-checkbox>
  </section>
  <section class="week-days">
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[6]">Sat</mat-checkbox>
    <mat-checkbox [(ngModel)]="userSelection.weekWorkingDays[0]">Sun</mat-checkbox>
    <span class="empty-block"></span>
    <span class="empty-block"></span>
    <span class="empty-block"></span>
  </section>

  <br />

  <mat-form-field class="time-form-field">
    <input type="time" matInput placeholder="From" [(ngModel)]="userSelection.startTime">
  </mat-form-field>
  <mat-form-field class="time-form-field">
    <input type="time" matInput placeholder="To" [(ngModel)]="userSelection.endTime">
  </mat-form-field>

</div>
