

<div class="text-center">

  <h1>404 - Page not found</h1>

  <div class="buttons m-t-50">
    <button mat-raised-button color="primary" [routerLink]="['/']"><mat-icon>reply</mat-icon> back</button>
  </div>

</div>


