$primaryColor: #673ab7;

$headerHeight: 56px;

$buttonWidth: 140px;

$tileColor1: lightblue;
$tileColor2: #71cdcd;
$tileColor3: lightyellow;
$tileColor4: lightgreen;
$tileColor5: lightpink;
$tileColor6: #DDBDF1;
