@import 'variables';

h2{
  margin: 40px 0 30px 0;
}

.profile-link-container {
  margin: 50px 0 20px 0;
  justify-content: center;
  display: flex;
  line-height: 60px;

  .profile-link {
    text-decoration: none;
    padding-left: 55px;
    background: url(/assets/profile-picture.gif) 0 center no-repeat;
    font-size: 14px;
    height: 60px;
    background-size: 50px 50px;
    color: $primaryColor;

    &:hover {

      .heart {
        color: #c44736;
      }

      .underline {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

    .underline {
      display: block;
      position: relative;
      padding: 0;
      width: 100%;
      height: 2px;
      bottom: 30%;
      right: 0;
      background-color: $primaryColor;
      -webkit-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
  }
}
