

<h1>About</h1>

<p>
  This app lets you calculate how much you have already earned today or during other periods.
  <br /><br />
  Use the compare tool to compare your earnings with other people or yourself should you earn a different amount.
  <br /><br />
  <b>We do not store any data whatsoever.</b> Your selection is only stored in your own device.
</p>

<h2>Calculations</h2>

<p>
  <b>If your salary is per month or year:</b>
  <br /><br />
  This means that you earn the same amount monthly and yearly regardless of the number of working days in the current month or year.
  <br /><br />
  However, you earn a different amount hourly, daily and weekly depending on how many working days there are in the current month or year.
  <br /><br />
  The fewer working days in a month, the more you are earning per hour, day and week during that month.
</p>

<p>
  <b>If your salary is per hour, day or week:</b>
  <br /><br />
  This means that you earn depending on the hours, days or weeks that you work.
  <br /><br />
  Therefore, the amount earned monthly and annually will vary depending on the number of working days in the current month or year.
</p>


<div class="profile-link-container">
  <a href="{{creatorProfileLink}}" target="_blank" class="profile-link">
    by <b>Marcos Gimeno</b> with <span class="heart">❤</span>
    <span class="underline"></span>
  </a>
</div>
