

<div class="main-container">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="title" [routerLink]="['/']">My Earnings Today</a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [fixedInViewport]=true fixedTopGap="56" role="navigation">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" (click)="snav.toggle()">My earnings</a>
        <a mat-list-item [routerLink]="['/compare']" (click)="snav.toggle()">Compare</a>
        <a mat-list-item [routerLink]="['/about']" (click)="snav.toggle()">About</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>
      
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>



