
.today-earned-container {
  margin: 30px 0;

  .person {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .name {
      font-size: 18px;
    }

    .amount {
      font-size: 30px;
    }
  }
}

.charts-container {
  margin-top: 30px;

  .chart-container {
    position: relative;
    width: 100%;
  }

  
}


