
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'variables';
@import 'space-helpers';

html, body {
  margin: 0;
  background-color: #fafafa;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-bottom: 25px;
  font-size: 16px;
}

h2 {
  font-size: 15px;
}

//This is for the arrows not to appear on inputs of type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

//Form fields bottom border;
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,0.12);
}

.mat-checkbox-layout .mat-checkbox-inner-container {
  margin-right: 5px;
}

.mat-form-field .mat-form-field-label {
  color: $primaryColor;
  font-weight:bolder;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $primaryColor;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: lighten($primaryColor, 20%) !important;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.text-center {
  text-align: center;
}

.mat-select-arrow {
  color: rgba(0,0,0,0.22);
}

.mat-tab-label {
  height: 35px !important;
  min-width: 120px !important;
  padding: 0 0 0 16px !important;

  &:first-of-type {
    padding: 0 16px !important;
  }
}

.clickable {
  cursor: pointer;
}

span.decimal {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.70);
}

.chart-period-select {
  width: 115px;
  font-weight: bold;

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;

    .mat-form-field-underline {
      top: 41px;
    }
  }
}

.highlight-select {
  .mat-select-arrow {
    color: lighten($primaryColor, 30%) !important;
  }

  .mat-form-field-ripple {
    background-color: lighten($primaryColor, 40%) !important;
    opacity: 1;
    transform: scaleX(1);
  }
}



.mat-dialog-actions {
  justify-content: center;
  margin-top: 10px;
}


.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;



  button {
    width: $buttonWidth;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.text-center {
      text-align: center;
    }

    .mat-icon {
      margin-right: 5px;
      color: #ccc;

      &.add-icon {
        color: #888;
      }
    }
  }
}


.tiles-container {
  display: flex;
  flex-wrap: wrap;


  &.two-tiles-per-row {
    margin-top: 25px;

    .tile {
      flex: 0 50%;
    }
  }

  &.one-tile-per-row {
    margin-top: 30px;

    .tile {
      flex: 0 100%;
    }

    h2 {
      margin: 0 auto 25px auto;

      .details-type-select {
        font-weight: bold;
        width: 150px;

        .mat-form-field-wrapper {
          padding-bottom: 0 !important;

          .mat-form-field-underline {
            top: 41px;
          }
        }
      }
    }
  }

  .tile {
    box-sizing: border-box;

    &.tile-1 {
      background-color: $tileColor1;
    }

    &.tile-2 {
      background-color: $tileColor2;
    }

    &.tile-3 {
      background-color: $tileColor3;
    }

    &.tile-4 {
      background-color: $tileColor4;
    }

    &.tile-5 {
      background-color: $tileColor5;
    }

    &.tile-6 {
      background-color: $tileColor6;
    }


    .header {
      color: white;
      font-size: 14px;
      padding: 7px 0;
      background: rgba(0,0,0,.38);
    }

    .body {
      padding: 12px 0;

      .current-amount {
        font-size: 22px;
        margin-bottom: 6px;
      }

      .details {
        font-size: small;
      }

      .multiple-persons-container {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        .person {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
        }

        .amount {
          flex: 1;
          text-align: right;
          font-size: 22px;
        }
      }
    }
  }
}
