
<h1 *ngIf="data.title" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.body}}
</div>


<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">{{data.cancelButtonText}}</button>
  <button mat-raised-button color="warn" (click)="onConfirm()" cdkFocusInitial>{{data.confirmButtonText}}</button>
</div>
